- const mesuresNonTechniques = mesures.filter(m => m.categorie !== 'technique')
- const mesuresTechniques = mesures.filter(m => m.categorie === 'technique')

div
  if mesuresNonTechniques.length > 0
    h4 Mesures Non Techniques
    each mesure, index in mesuresNonTechniques
      details
        summary
          //- On affiche un numéro simple ou calculé
          | !{index + 7} . !{mesure.titre}
        div
          .section-mesure
            b Pourquoi ?
            .fr-pt-md-2w.fr-pb-md-3w !{include(mesure.pourquoi)}
          .section-mesure
            b Comment mettre en œuvre ?
            .fr-pt-md-2w.fr-pb-md-3w !{include(mesure.comment)}

  if mesuresTechniques.length > 0
    br
    h4 Mesures Techniques
    each mesure, index in mesuresTechniques
      details
        summary
          //- Pour suivre la numérotation après les non-techniques :
          | !{index + 7 + mesuresNonTechniques.length} . !{mesure.titre}
        div
          .section-mesure
            b Pourquoi ?
            .fr-pt-md-2w.fr-pb-md-3w !{include(mesure.pourquoi)}
          .section-mesure
            b Comment mettre en œuvre ?
            .fr-pt-md-2w.fr-pb-md-3w !{include(mesure.comment)}